#root {
    display: flex;
    color: #838119;
    background: #f5f5dc;
}

.Orders {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

@media screen and (max-width: 860px) {
    #root {
        flex-direction: column;
    }

    .Orders {

    }

    .Products {
        width: 100%;
    }
}

